{% extends "base.html" %}
{% block menu %}

    <ul>
	    <li><a href="/Videoteca/">Main Page</a></li>
        <li><a href="/Videoteca/movies/">Films</a></li>
        <li><a href="/Videoteca/actors/">Actors</a></li>
        <li><a href="/Videoteca/clients/">Clients</a></li>
        <li><a href="/Videoteca/videotecas/">Videoteca</a></li>
	</ul>
{% endblock %}

{% block content %}

    <h1>{{ movie.title }} DETAIL</h1>

        <b>Year:</b> {{ movie.year }}<br>

        <b>Duration:</b>{{movie.duration }}<br>

        <b>Genre:</b> {{ movie.genre }}<br>

        <b>description:</b> {{ movie.description }}<br>

        <b>Actors:</b><br>

                {% for actor in movie.actors.all %}
                    <a href="{% url 'Videoteca:actor_detail' actor.id %}">{{actor.name}}</a><br>
                {% endfor %}

        <a href="javascript:history.back(-1);" title="Go back!"> <button>Go Back</button></a>
{% endblock %}